JOINERFLOW_PROJECT_NAME=joinerflow
JOINERFLOW_INSTALL_ROOT=/volume1/joinerflow
JOINERFLOW_PUBLIC_HOST=crm.example.com
JOINERFLOW_PUBLIC_ORIGIN=https://crm.example.com
JOINERFLOW_TIMECLOCK_ORIGIN=https://timeclock.example.com
TZ=Pacific/Auckland

JOINERFLOW_PROXY_HTTP_PORT=8080
JOINERFLOW_PROXY_HTTPS_PORT=8443

JOINERFLOW_SERVER_PORT=4000
JOINERFLOW_CLIENT_PORT=8080
JOINERFLOW_CLOCK_PORT=8081
JOINERFLOW_OLLAMA_PORT=11434
JOINERFLOW_POSTGRES_PORT=15432
JOINERFLOW_QDRANT_PORT=6333
JOINERFLOW_OPEN_WEBUI_PORT=3001

JOINERFLOW_PUID=1026
JOINERFLOW_PGID=100

